.simpleSliderContainer {
    position: relative;
    width: 100%;
}

.each-simple-slide>div {
    height: 15vh;
    padding: 0px 30px;
    border-radius: 8px;
    margin: 0px 5px;
    background-color: #fff;
}

.simple-ind-slide {
    display: flex;
    align-items: center;
}
.simple-ind-slide img{
    
}